@import "tailwindcss";

.message {
    @apply flex;
}

.message.received {
    @apply justify-start;
}

.received .bubble {
    @apply bg-neutral-100 relative;
    animation: fadeIn 1s;
}

.sent .bubble {
    @apply bg-blue-600 text-white text-right relative;
    animation: fadeIn 1s;
}

.message.sent {
    @apply justify-end;
}

.bubble {
    @apply rounded-xl py-3 px-4 max-w-4/5 sm:max-w-3/4 flex flex-col gap-1;
}

.name {
    @apply text-lg font-semibold;
}

.time {
    @apply text-xs;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes slideInLeft {
    from {opacity: 0; left: -300px;}
    to {opacity: 1; left: 0;}
}

@keyframes slideInRight {
    from {opacity: 0; right: -300px;}
    to {opacity: 1; right: 0;}
}