.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
}

.container div {
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.box {
    height: 400px;
    width: 50%;
    border: 1px solid red;
}

@media (width <= 600px) {
    .container {
        grid-template-columns: auto;
    }
    .box {
        width: 100%;
    }
}

@media (width >= 600px) and (width <= 1000px) {
    .container {
        grid-template-columns: auto auto;
    }
    .box {
        width: 50%;
    }
}

@media (width >= 1000px) and (width <= 1200px) {
    .container {
        grid-template-columns: auto auto auto;
    }

    .box {
        width: 75%;
    }
}

.box:hover {
    width: 75%;
    /* transition: width 1s; */
    animation:  trans 2s;
}

@keyframes trans {
    to {width: 75%;}
}